@page "/Tecnico/Create"

@inject TecnicoService tecnicoService
@inject NavigationManager Navigation
@rendermode InteractiveServer

<PageTitle>Crear T&eacute;cnico</PageTitle>
<EditForm Model="Tecnico" OnValidSubmit="Crear">
	<DataAnnotationsValidator />
	<div class="container">
		<div class="shadow-lg">
			@*Header*@
			<div class="card-header">
				<div class="text-center">
					<h3><strong>Crear un nuevo T&eacute;cnico</strong></h3>
				</div>
			</div>
			@*Body*@
			<div class="card-body">
				<div class="row">
					@*ID*@
					<div class="col-2">
						<label class="form-label" for="idTecnico"><strong>T&eacute;cnicoId</strong></label>
						<InputNumber class="form-control" id="idTecnico" @bind-Value="Tecnico.TecnicoId"></InputNumber>
					</div>
					@*Nombres*@
					<div class="col-4 ms-5">
						<label class="form-label" for="nombres"><strong>Nombres</strong></label>
						<InputText class="form-control" id="nombre" @bind-Value="Tecnico.Nombres"></InputText>
						<ValidationMessage For="(()=> Tecnico.Nombres)"></ValidationMessage>
					</div>
					@*SueldoHora*@
					<div class="col-3 ms-5">
						<label class="form-label" for="sueldoHora"><strong>SueldoHora</strong></label>
						<InputNumber class="form-control" id="sueldoHora" @bind-Value="Tecnico.SueldoHora"></InputNumber>
						<ValidationMessage For="(()=> Tecnico.SueldoHora)"></ValidationMessage>
					</div>
				</div>
			</div>
			@*Footer*@
			<div class="card-footer">
				<div class="text-center">
					<button type="button" class="btn btn-outline-secondary bi bi-arrow-90deg-left" @onclick="Volver"> Volver</button>
					<button type="submit" class="btn btn-outline-success bi bi-floppy"> Crear</button>
				</div>
			</div>
		</div>
	</div>
	@Mensaje
</EditForm>

@code {
	public Tecnicos Tecnico { get; set; } = new Tecnicos();
	public string? Mensaje { get; set; }

	public async Task Crear() {
		if (await Validar()) {
			Mensaje = "Ya existe un técnico con este nombre";
			return;
		}

		var crear = await tecnicoService.Guardar(Tecnico);
		if (crear) {
			Mensaje = "El técnico se ha creado correctamente";
			Volver();
		}

		else {
			Mensaje = "No se ha podido crear correctamente el técnico";
		}
	}

	public async Task<bool> Validar() {
		var existe = await tecnicoService.ExisteNombre(Tecnico.TecnicoId, Tecnico.Nombres);
		return existe;
	}

	public void LimpiarPantalla() {
		Tecnico = new Tecnicos();
		Mensaje = string.Empty;
	}

	public void Volver() {
		Navigation.NavigateTo("Tecnico/Index");
	}
}