@page "/Tecnico/Index"
@inject TecnicoService tecnicoService
@inject NavigationManager Navigation
@rendermode InteractiveServer

<PageTitle>Index Tecnico</PageTitle>
<div class="container">
	<div class="shadow-lg">
		@*Header*@
		<div class="card-header">
			<div class="text-center">
				<h2><strong>Listado de T&eacute;cnicos</strong></h2>
			</div>
			<div class="text-end">
				<button type="button" class="btn btn-outline-primary" @onclick="MostrarPantallaCrear">Crear</button>
			</div>
		</div>
		@*Body*@
		<div class="card-body">
			<div class="row">
				@*Filtro*@
				<div class="col-3">
					<label class="form-label" for="Filtro">Filtrar por:</label>
					<select class="form-select" @bind="filtro">
						<option value="id">ID</option>
						<option value="nombres">Nombres</option>
					</select>
				</div>
				@*Busqueda*@
				<div class="col-6 ms-3">
					<label class="form-label" for="ValorFiltro">B&uacute;squeda</label>
					<div class="input-group">
						<input class="form-control" @bind="valorFiltro"  placeholder="Buscar" />
						<button type="button" class="btn btn-outline-primary bi bi-search" @onclick="Buscar"></button>
						<div class="ms-5">
							<button type="button" class="btn btn-outline-primary bi bi-arrow-counterclockwise" @onclick="OnInitializedAsync"> Restablecer</button>
						</div>
					</div>
				</div>
			</div>
			@*Tabla*@
			<div class="text-center mt-3">
				<table class="table table-bordered">
					<thead>
						<tr>
							<th>T&eacute;cnicoId</th>
							<th>Nombre</th>
							<th>SueldoHora</th>
							<th>Editar</th>
							<th>Detalle</th>
							<th>Eliminar</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var tecnico in Tecnicos) {
							<tr>
								<td>@tecnico.TecnicoId</td>
								<td>@tecnico.Nombres</td>
								<td>@tecnico.SueldoHora.ToString("N2")</td>
								<td><button trype="button" class="btn btn-outline-warning bi bi-pencil-square" @onclick="()=> MostrarPantallaEditar(tecnico.TecnicoId)"></button></td>
								<td><button type="button" class="btn btn-outline-info bi bi-eye-fill" @onclick="()=> MostrarPantallaDetalle(tecnico.TecnicoId)"></button></td>
								<td><button type="button" class="btn btn-outline-danger bi bi-trash2" @onclick="()=> MostrarPantallaEliminar(tecnico.TecnicoId)"></button></td>
							</tr>
						}
					</tbody>
				</table>
			</div>
		</div>
		@*footer*@
		<div class="card-footer">
			<p><strong>Total de T&eacute;cnicos: @Tecnicos.Count()</strong></p>
		</div>
	</div>
</div>

@code {
	public List<Tecnicos> Tecnicos { get; set; } = new List<Tecnicos>();
	private string filtro = "Id";
	private string valorFiltro = "";

	protected override async Task OnInitializedAsync() {
		Tecnicos = await tecnicoService.Listar(t => t.TecnicoId > 0);
	}

	private async Task Buscar() {
		if (valorFiltro.Trim() != "") {
			if (filtro == "id" && int.TryParse(valorFiltro, out int tecnicoId)) {
				var identificador = Tecnicos.Where(t => t.TecnicoId == tecnicoId).ToList();
				Tecnicos = identificador;
			}
			else if (filtro == "nombres") {
				Tecnicos = await tecnicoService.Listar(t => t.Nombres == valorFiltro);
			}
		}
		else {
			Tecnicos = await tecnicoService.Listar(t => true);
		}
	}

	public void MostrarPantallaCrear() {
		Navigation.NavigateTo("/Tecnico/Create");
	}
	public void MostrarPantallaEditar(int id) {
		Navigation.NavigateTo($"/Tecnico/Edit/{id}");
	}
	public void MostrarPantallaDetalle(int id) {
		Navigation.NavigateTo($"/Tecnico/Details/{id}");
	}
	public void MostrarPantallaEliminar(int id) {
		Navigation.NavigateTo($"/Tecnico/Delete/{id}");
	}
}