@page "/Tecnico/Index"
@inject TecnicoService tecnicoService
@inject NavigationManager Navigation
@rendermode InteractiveServer

<PageTitle>Index Tecnico</PageTitle>
<div class="container">
	<div class="shadow-lg">
		@*Header*@
		<div class="card-header">
			<div class="text-center">
				<h2><strong>Listado de T&eacute;cnicos</strong></h2>
			</div>
			<div class="text-end">
				<button type="button" class="btn btn-outline-primary" @onclick="MostrarPantallaCrear">Crear</button>
			</div>
		</div>
		@*Body*@
		<div class="card-body">
			<div class="row mb-3 align-items-end">
				<div class="col-md-3">
					<label for="Filtro" class="form-label">Filtrar por:</label>
					<select @bind="filtro" class="form-select">
						<option value="id">ID</option>
						<option value="descripcion">Descripci&oacuten</option>
						<option value="diascompromiso">D&iacuteas Compromiso</option>
					</select>
				</div>
				<div class="col-md-6">
					<label for="ValorFiltro" class="form-label">Búsqueda:</label>
					<div class="input-group">
						<input @bind="valorFiltro" class="form-control" placeholder="Buscar" />
						<button @onclick="Buscar" class="btn btn-outline-primary" type="button">
							<span class="bi bi-search"></span> Buscar
						</button>
					</div>
				</div>
			<div class="text-center">
				<table class="table table-bordered">
					<thead>
						<tr>
							<th>T&eacute;cnicoId</th>
							<th>Nombre</th>
							<th>SueldoHora</th>
							<th>Editar</th>
							<th>Detalle</th>
							<th>Eliminar</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var tecnico in Tecnicos) {
							<tr>
								<td>@tecnico.TecnicoId</td>
								<td>@tecnico.Nombres</td>
								<td>@tecnico.SueldoHora.ToString("N2")</td>
								<td><button trype="button" class="btn btn-outline-warning bi bi-pencil-square" @onclick="()=> MostrarPantallaEditar(tecnico.TecnicoId)"></button></td>
								<td><button type="button" class="btn btn-outline-info bi bi-eye-fill" @onclick="()=> MostrarPantallaDetalle(tecnico.TecnicoId)"></button></td>
								<td><button type="button" class="btn btn-outline-danger bi bi-trash2" @onclick="()=> MostrarPantallaEliminar(tecnico.TecnicoId)"></button></td>
							</tr>
						}
					</tbody>
				</table>
			</div>
		</div>
		@*footer*@
		<div class="card-footer">
			<p><strong>Total de T&eacute;cnicos: @Tecnicos.Count()</strong></p>
		</div>
	</div>
</div>

@code {
	public List<Tecnicos> Tecnicos { get; set; } = new List<Tecnicos>();
	private string filtro = "Id";
	private string valorFiltro = "";

	protected override async Task OnInitializedAsync() {
		Tecnicos = await tecnicoService.Listar(t => t.TecnicoId > 0);
	}

	private async Task Buscar() {
		var variable = valorFiltro;
		if (valorFiltro.Trim() != "") {
			if (filtro == "id" && int.TryParse(valorFiltro, out int nuevoId)) {
				var identificador = Tecnicos.Where(t => t.TecnicoId == nuevoId).ToList();
				Tecnicos = identificador;
			}
			else if (filtro == "nombres") {
				ListaPrioridades = await PrioridadesService.Listar(p => p.Descripcion == valorFiltro);
			}
		}
		else {
			ListaPrioridades = await PrioridadesService.Listar(p => true);
		}
	}

	public void MostrarPantallaCrear() {
		Navigation.NavigateTo("/Tecnico/Create");
	}
	public void MostrarPantallaEditar(int id) {
		Navigation.NavigateTo($"/Tecnico/Edit/{id}");
	}
	public void MostrarPantallaDetalle(int id) {
		Navigation.NavigateTo($"/Tecnico/Details/{id}");
	}
	public void MostrarPantallaEliminar(int id) {
		Navigation.NavigateTo($"/Tecnico/Delete/{id}");
	}
}