@page "/Tecnico/TecnicosIndex"

@inject TecnicoService tecnicoService
@inject NavigationManager Navigation
@rendermode InteractiveServer


<PageTitle>Index Tecnico</PageTitle>
<div class="container">
	<div class="shadow-lg">
		@*Header*@
		<div class="card-header">
			<div class="text-center">
				<h2><strong>Listado de T&eacute;cnicos</strong></h2>
			</div>
			<div class="text-end">
				<button type="button" class="btn btn-outline-primary" @onclick="Ir_A_Crear">Crear</button>
			</div>
		</div>

		@*Body*@
		<div class="card-body">
			<div class="text-center">
				<table class="table table-bordered">
					<thead>
						<tr>
							<th>T&eacute;cnicoId</th>
							<th>Nombre</th>
							<th>SueldoHora</th>
							<th>Editar</th>
							<th>Detalle</th>
							<th>Eliminar</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var tecnico in Tecnicos) {
							<tr>
								<td>@tecnico.TecnicoId</td>
								<td>@tecnico.Nombres</td>
								<td>@tecnico.SueldoHora.ToString("N2")</td>
								<td><button trype="button" class="btn btn-outline-warning bi bi-pencil-square" @onclick="()=> Ir_A_Editar(tecnico.TecnicoId)"></button></td>
								<td><button type="button" class="btn btn-outline-info bi bi-eye-fill" @onclick="()=> Ir_A_Detalle(tecnico.TecnicoId)"></button></td>
								<td><button type="button" class="btn btn-outline-danger bi bi-trash2" @onclick="()=> Ir_A_Eliminar(tecnico.TecnicoId)"></button></td>
							</tr>
						}
					</tbody>
				</table>
			</div>
		</div>

		@*footer*@
		<div class="card-footer">
			<p><strong>Total de T&eacute;cnicos: @Tecnicos.Count()</strong></p>
		</div>
	</div>
</div>


@code {
	public List<Tecnicos> Tecnicos { get; set; } = new List<Tecnicos>();

	protected override async Task OnInitializedAsync() {
		await Task.Delay(500);
		Tecnicos = await tecnicoService.ListarTecnico(t => t.TecnicoId > 0);
	}

	public void Ir_A_Crear() {
		Navigation.NavigateTo("/Tecnico/CreateTecnico");
	}

	public void Ir_A_Editar(int id) {
		Navigation.NavigateTo($"/Tecnico/EditTecnico/TecnicoId={id}");
	}
	
	public void Ir_A_Detalle(int id) {
		Navigation.NavigateTo($"/Tecnico/DetailsTecnico/TecnicoId={id}");
	}
	
	public void Ir_A_Eliminar(int id) {
		Navigation.NavigateTo($"/Tecnico/DeleteTecnico/TecnicoId={id}");
	}
}
