@page "/"

<PageTitle>Home</PageTitle>

<div class="col-3 mb-3">
	<strong>Nombre:</strong> Cristopher Marte
	<strong>Matricula:</strong> 2021-0551
</div>


<div class="text-center">
	<h1><strong>¡Bienvenidos T&eacute;cnicos!</strong></h1>
</div>


